<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>My Web Application</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Welcome to My Web App</h1>
	<h2>What would you like to say?</h2>
	<form action="#" th:action="@{/home}" th:object="${home}" method="post">
		<p>Name: <input type="text" th:field="*{name}" /></p>
        <p>Message: <input type="text" th:field="*{message}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>
